.content-section {
    margin-top: 2rem;
}

.menu-items {
    padding: 1.5rem;
}

.menu-items h4 {
    color: blue;
}
h1 {
    font-style: oblique;
    padding: .6rem;
}

.today {
    font-style: oblique;
    color: blue;
    margin-left: 2rem;
}

.active {
    border-bottom: 2px blue solid;
}

#shopping-cart {
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

#shopping-cart i {
    margin-top: .5rem;
}

.nav-items {
    padding-top: 2rem;
}

.orders-table {

    font-style: italic;
}

.orders-table thead {
    background-color: seashell;
}

.process-button {
    margin-top: 1rem;
    width: 130px;
}


#order-header {
    color: darkblue;
}